# Project
target/
#src/test/resources/test-output/iflow/
src/test/resources/test-output/*.xml
src/test/resources/test-output/builder/*.xml
src/test/resources/test-output/generated-archive/*.jar

# IDE
.vscode/

# OS
.DS_Store
